@font-face {
  font-family: "NWTBodoni";
  src: url(../fonts/NWTBodoni-Regular.ttf);
}

@font-face {
  font-family: "Suisse";
  src: url(../fonts/SuisseIntl-SemiBold.otf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  display: block;
}

p {
  margin-top: 39px;
  margin-left: 47px;
  color: white;
  font-size: 146px;
  line-height: 156px;
  letter-spacing: 0.04em;
  font-family: "NWTBodoni"
}

#bozhe p {
  margin: auto 0;
  text-align: center;
}

.Suisse {
  font-family: "Suisse";
  font-size: 146px;
  line-height: 136px;
  letter-spacing: 0.02em;
}

.NWTBodoni {
  font-family: "NWTBodoni";
}

col {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 1065px;
}

#first {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col div {
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.BozheMoy {
  position: relative;
  height: 213px;
  width: 1065px;
}

.Sun {
  position: relative;
  height: 853px;
  width: 1065px;
}

#circle {
  margin: auto;
  margin-top: 50px;
  background: #fff;
  width: 725px;
  height: 725px;
  border-radius: 50%;
}

.Doska {
  width: 855px;
  height: 1070px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

#second {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #000;
  color: #000;
  overflow: hidden;
}

#crosses {
  display: flex;
  flex-direction: column;
  width: 853px;
  height: 427px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

#crossesin {
  margin: auto 0;
}

#firstlineofcrosses {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}

#secondlineofcrosses {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}

.cross {
  height: 165px;
  width: 145px;
}

.hor {
  position: relative;
  background: #FFFFFF;
  height: 133px;
  width: 30px;
  transform: rotate(90deg);
  margin: auto 0;
}

.ver {
  position: relative;
  background: #FFFFFF;
  margin-top: -125px;
  height: 165px;
  width: 29px;
  margin: auto -125px;
}

#date {
  width: 1068px;
  height: 427px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.row {
  width: 1920px;
  height: 200px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.runningimages {
  overflow: hidden;
  width: 100%;
}

.runningimages div {
  display: flex;
  width: 200%;
  animation: faces 5s linear infinite;
}

.runningimages span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.runningimages img {
  width: 6%;
}

.devilface {
  width: 4.3% !important;
}

.runningimages:hover div {
  animation-play-state: paused;
}

@keyframes faces {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

#adress {
  text-align: center;
  margin: auto;
}

.triplerow {
  width: 100%;
  height: 640px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.runninggraves {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.runninggraves div {
  display: flex;
  width: 200%;
  animation: graves 12s linear infinite;
  margin-top: -70px;
}

.runninggraves span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.runninggraves img {
  width: 400%;
  height: 130%;
}

.runninggraves:hover div {
  animation-play-state: paused;
}

@keyframes graves {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.doublerow {
  width: 100%;
  height: 427px;
  border: 1px solid #fff;
  border-radius: 20px;
}

#third {
  display: flex;
  flex-direction: row;
}

#festival {
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 1066px;
  height: 640px;
}

#code {
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 855px;
  height: 640px;
}

#fourth {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#hand {
  height: 900px;
  width: 853px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

#handframe {
  transform-origin: bottom;
  animation: waving 8s ease infinite;
}

@keyframes waving {
  0% {
    transform: translateY(1000px);
  }

  20% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(0px);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  70% {
    transform: translateY(0);
    transform: rotate(0deg);
  }

  100% {
    transform: translateY(1000px);
  }
}

#ghosts {
  height: 900px;
  width: 1067px;
  border: 1px solid #fff;
  border-radius: 20px;
}

#fifth {
  width: 100%;
  height: 800px;
}

#fifth div {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footerSuisse {
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  /* identical to box height */
  letter-spacing: 0.01em;
}
