*{
  box-sizing: border-box;
}
body{
  background-color: black;
  width: 100%;
  display: block;
}

col{
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 1065px;
}
#first{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col div{
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.BozheMoy{
  position: relative;
  height: 213px;
  width: 1065px;
}
.Sun{
  position: relative;
  height:853px;
  width:1065px;
}
.Doska{
  width:856px;
  height: 1070px;
  border: 1px solid #ffffff;
  border-radius: 20px;

}
#second{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#crosses{
  width: 853px;
  height: 427px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
#date{
  width: 1068px;
  height: 427px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.row{
  width: 100%;
  height: 215px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.triplerow{
  width: 100%;
  height: 640px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.doublerow{
  width: 100%;
  height: 427px;
  border: 1px solid #fff;
  border-radius: 20px;
}
#third{
  display: flex;
  flex-direction: row;
}
#festival{
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 1066px;
  height: 640px;
}
#code{
  border: 1px solid #ffffff;
  border-radius: 20px;
width: 855px;
height: 640px;
}
#fourth{
  width: 100%;
  height: 1279px;
  display: flex;
  flex-direction: row;
}
#hand{
  height: 1279px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
#ghosts{
  height:1279px;
  width:1067px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
